*, *:after, *:before {box-sizing: inherit;}
* {margin:0;padding:0;border: 0 none; position: relative;}
:root {
  --sinSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --Nhexa: 4;
  --gap: 2vw;
  --size: calc(calc(100vw / var(--Nhexa)) - var(--gap));
}
@media only screen and (min-width: 1100px) {:root {--Nhexa: 6;}}
@media only screen and (max-width: 600px) {
  :root {--Nhexa: 2;}
}
html {
  background-color: #3EECAC;
  background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
  box-sizing: border-box;
  font-family: var(--sinSerif);
  font-size: 1rem;
  color: #fff;
}
body {
  overflow-X: hidden;
  hyphens: auto;
}
section {
  margin: calc(var(--size) * .5) auto 0;
  width: calc(var(--size) * calc(var(--Nhexa) - 1));
  display: grid;
  grid-template-columns: repeat(var(--Nhexa), 1fr);
  grid-gap: var(--gap);
}

@media (max-width: 1024px) {
  section {
    margin-left: 100px;
  }
}

@media (max-width: 600px) {
  section {
    margin-left: 35px;
  }
}

article {
  background-image: linear-gradient( 135deg, #F97794 10%, #623AA2 100%);
  width: var(--size); 
  height: calc(var(--size) / 1.1111111);
  clip-path: url(#hexagono);
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  margin-right: calc(var(--size) / 2);
  color: #fff;
  overflow: hidden;
}
article:nth-child(2n) {margin: calc(var(--size) * -.5) calc(var(--size) * -.25) 0 calc(var(--size) * -.75);}
article::before {
  content: '';
  float: left;
  width: 25%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 0% 50%, 100% 100%, 0% 100%);
  shape-outside: polygon(0% 0%, 100% 0%, 0% 50%, 100% 100%, 0% 100%);
}
.imgclass {
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0% 50%;
  transition: .75s;
  clip-path: url(#hexagono);
  clip-path: inherit;
  z-index:  10;
}
article:hover .imgclass {transform: translate(-50%, -50%) rotate(-110deg);}
h2 {font-size: 100%;}
figure {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 50%;
  height: 100%;
  font-size: calc(9 / var(--Nhexa) * 1vw);
  line-height: 1;
  color: #fff;
  transition: .75s .05s;
  text-align: center;
}
figure p {
  font-size: 70%;
  line-height: 1.2;
  width: 100%;
}
h1 {
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: calc(var(--size) * .55 + var(--gap));
  padding: 2vh 0;
  text-align: center;
  font-weight: 400;
  color: #fff;
}
body > p {
  font-size: 1.5rem;
  margin: 2rem 0 1rem calc(var(--size) * .5);
  font-weight: 200;
}

/*_____________________________________________________________*/

.content{
  font-family: monospace;
  margin: auto;
  color: white;
  padding-bottom: 15px;
  position: relative;
}

#title{
  text-align: center;
  text-transform: uppercase;
  font-size : 5.5em;
}

@media (max-width: 640px) {
  #title {
    font-size : 4em;
  }
}

@media (max-width: 500px) {
  #title {
    font-size : 2.5em;
  }
}

/*_____________________________________________________________*/

/* .header {
  max-width: 1184px;
  padding: 0 48px 0;
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__menu {
  margin-top: 18px;
}

.header__lang-link {
  text-decoration: none;
  color: white;
  transition: opacity .2s ease-out;
}
  
.header__lang-link:hover {
  opacity: .5;
}

.header__lang-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
} */


.flexh {
  display: flex;
  justify-content: center;
}

.sizebox1 {
  text-align: center;
  text-transform: uppercase;
  font-size : 2.5em;
  border-bottom : solid 1px white;
  padding-top: 40px;
}

.sizebox2 {
  font-family: monospace;
  text-align: center;
  text-transform: uppercase;
  font-size : 2.5em;
  color: #fff;
  padding-bottom: 30px;
  padding-top: 10px;
}

/*____________________________*/

button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  padding: 1rem 1.5rem; /* Поля вокруг текста */
  text-decoration: none; /* Убираем подчёркивание */
  border-radius: 3px;
}

.btn-3 {
  background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
   background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
   color: rgba(2,126,251,1);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}

/* 8 */
.btn-8 {
  background-color: #f0ecfc;
background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-8 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-8:before,
.btn-8:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #c797eb;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.btn-8:before{
   height: 0%;
   width: 2px;
}
.btn-8:after {
  width: 0%;
  height: 2px;
}
.btn-8:hover:before {
  height: 100%;
}
.btn-8:hover:after {
  width: 100%;
}
.btn-8:hover{
  background: transparent;
}
.btn-8 span:hover{
  color: #c797eb;
}
.btn-8 span:before,
.btn-8 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #c797eb;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.btn-8 span:before {
  width: 2px;
  height: 0%;
}
.btn-8 span:after {
  height: 2px;
  width: 0%;
}
.btn-8 span:hover:before {
  height: 100%;
}
.btn-8 span:hover:after {
  width: 100%;
}


/*____________*/
.places {
  margin: 25px auto 0;
  max-width: 984px;
  display: grid;
  row-gap: 80px;
}
  
@media (max-width: 1024px) {
  .places {
    margin: 25px 48px 0;
  }
}
  
@media (max-width: 900px) {
  .places {
    margin: 25px 24px 0;
    row-gap: 73px;
  }
}
  
@media (max-width: 600px) {
  .places {
    margin: 25px 0 0;
    row-gap: 50px;
  }
}